$purple: indigo;
$dark-purple: #310154;
$transPurple: rgba(66, 19, 90, 0.5);
$transPurpleDarker: rgba(66, 19, 90, 0.8);
$blue: #25ABCA;
$green: #B3C92B;
$font-color: #ffffff;
$headline-font: 'Rubik', sans-serif;

body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;;
  letter-spacing: 1.5px;
  width: 100vw;
  color: $font-color;

  p {
    font-size: 18px;
  }
}

h1, h2, p {
  margin: 0;
}

/* Helper classes */

.centered {
  margin: 0 auto;
  text-align: center;
}

/* Layout */

.nav {
  height: 60px;
  width: 100vw;
  background-color: $purple;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    height: 20px;
    width: 170px;
    margin-left: 100px;
  }
}

.message {
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1, p, a {
    align-self: center;
  }

  a {
    width: 170px;
  }
}

.message-heading {
  padding: 1em;
}

/* Buttons */

.btn {
  display: inline-block;
  text-decoration: none;
  color: $font-color;
  background-color: $purple;
  padding: .6em 1.6em;
  margin: 1em;
  font-family: $headline-font;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;

  &:active {
    background-color: $dark-purple;
  }
}

/* Yoti buttons and QR */

.qr {
  height: 200px;
}

.buttons {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  z-index: 1;
  bottom: 10rem;

  a, a:hover, a:visited, a:active {
    align-self: center;
    text-decoration: none;
    color: $font-color;
    padding: 30px;
    font-size: 20px;
    margin: 0 25px;
  }
}

.landing-page-background {
  background: linear-gradient(
    $transPurple,
    $transPurpleDarker
  ),
  url("../media/volunteer.jpg");
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;

  h2 {
    font-size: 70px;
    font-family: $headline-font;
    line-height: 60px;
    letter-spacing: -3px;
    text-transform: uppercase;
    width: 80%;
    align-self: center;
    margin-top: 150px;
  }
}

.instructions {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  position: fixed;
  bottom: 20rem;
  z-index: 1;

  h1 {
    align-self: center;
  }
}

.back-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  position: fixed;
  bottom: 3rem;
  z-index: 1;

  a, p {
    text-align: center;
    align-self: center;
  }

  a {
    width: 170px;
  }
}
