$purple: indigo;
$dark-purple: #310154;
$transPurple: rgba(66, 19, 90, 0.5);
$transPurpleDarker: rgba(66, 19, 90, 0.8);
$blue: #25ABCA;
$green: #B3C92B;
$font-color: #ffffff;
$headline-font: 'Rubik', sans-serif;

body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  letter-spacing: 1.5px;
  color: $font-color;
}

h1, h2, p {
  margin: 0;
}

/* Helper classes */

.centered {
  margin: 0 auto;
  text-align: center;
}

/* Layout */

.nav {
  height: 60px;
  width: 100%;
  background-color: $purple;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    height: 20px;
    width: 170px;
    margin-left: 100px;
  }
}

/* Layout */

.message {
  color: $purple;
  width: 80%;
}

.message-heading {
  padding: 1em;
}

/* Buttons */

.btn {
  display: inline-block;
  text-decoration: none;
  color: $font-color;
  background-color: $purple;
  padding: .6em 1.6em;
  font-size: 2em;
  margin: 1em;
  font-family: $headline-font;
  border-radius: 5px;
}

.btn:active {
  background-color: $dark-purple;
}

/* Yoti buttons and QR */

.qr {
  height: 200px;
}

.buttons {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  a, a:hover, a:visited, a:active {
    align-self: center;
    margin: 50px;
    text-decoration: none;
    color: $font-color;
    padding: 30px;
    font-size: 20px;
  }
}

.landing-page-background {
  background: linear-gradient(
    $transPurple,
    $transPurpleDarker
  ),
  url("../media/volunteer.jpg");
  background-size: cover;
  height: 400px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-size: 70px;
    font-family: $headline-font;
    line-height: 60px;
    letter-spacing: -3px;
    text-transform: capitalize;
  }

}

.btn {
  display: inline-block;
  text-decoration: none;
  color: $font-color;
  background-color: $purple;
  padding: .6em 1.6em;
  font-size: 2em;
  margin: 1em;
}

.btn:active {
  background-color: $dark-purple;
}

.qr {
  height: 200px;
}

.message {
  color: $purple;
  width: 80%;
}

.message-heading {
  padding: 1em;
}
