<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to our event!</title>
  </head>
  <body>
    <!-- v-inspired logo -->
    <nav class="nav"></nav>

    <!-- greet the user -->

    <!-- buttons for signing in and out -->


  </body>
</html>
