{{!< layout/default}}

<div class="buttons">
  <span
    data-yoti-application-id="63ed9e94-3ead-47a9-817a-af47b7c783db"
    data-yoti-type="inline"
    data-yoti-scenario-id="b98ef77f-61b8-4546-9e2b-cd715e1bfa2b"
    data-size="medium">
    I'm arriving
  </span>

  <span
  data-yoti-application-id="63ed9e94-3ead-47a9-817a-af47b7c783db"
  data-yoti-type="inline"
  data-yoti-scenario-id="b98ef77f-61b8-4546-9e2b-cd715e1bfa2b"
  data-size="medium">
  I'm leaving
</span>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<script src="static/index.js"></script>