<head>
  <title>V-Inspired and Yoti</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <nav class="nav">
    <h1>VINSPIRED</h1>
  </nav>

  <div class="landing-page-background">
    <h2>Yoti's volunteering event</h2>
  </div>
  <div class="message">
    <p>Hi {{name}}</p>
    {{#if time}}
      <p>You volunteered for {{time}} today</p>
    {{/if}}
  </div>


</body>
