{{!< layout/default}}

<div class="message centered">
  <h1 class="message-heading">Hi {{name}},</h1>
  <p class="message-body">You volunteered for {{time}} today.</p>
  <p class="message-body">We'll send you an email to confirm your hours.</p>
  <a class="btn" href="/">OK</a>
</div>
