<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no" />
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">
  <title>V-Inspired and Yoti</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <nav class="nav">
    <img src="/media/logo_white.png" alt="v-inspired-logo">
  </nav>

  <div class="landing-page-background">
    <h2>Yoti's volunteering event</h2>
  </div>

  {{{content}}}

</body>
</html>
